/* si el usuario ya ingresó, body tendrá class="autenticado" */

/* si el usuario no está autenticado, ocultar cualquier cosa marcada con class="visible_autenticado" */
body:not(.autenticado) .visible_autenticado {
   display: none;
}

/* si el usuario sí está autenticado, ocultar cualquier cosa marcada con class="visible_no_autenticado" */
body.autenticado .visible_no_autenticado {
   display: none;
}

*{
   margin: 0;
   padding: 0;
}
html{
   box-sizing: border-box;
   height: 100vh;
}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   background-color: rgba(242,242,242);
}

*, *:before, *:after{
   box-sizing: inherit;
}



.visible_no_autenticado.login{
   height: 90vh;
   display: grid;
   place-items: center;
}

.login_contenedor{
   margin: 0 auto;
   width: 450px;
   height: 200px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 3rem;
   
   box-shadow: 1px 7px 7px 6px rgba(0,0,0,0.2);
}

.login_contenedor p{
   font-size: 18px;
   margin-bottom: 20px;
}

.sidebar{
   position: fixed;
   left: 0;
   top: 0;
   height: 100%;
   width: 78px;
   background: #fff;
   padding: 6px 14px;
   z-index: 99;
   transition: all 0.5s ease;
}
.sidebar.open{
   width: 200px;
}
.sidebar .logo_detalles{
   height: 60px;
   display: flex;
   align-items: center;
   position: relative;
}
.sidebar .logo_detalles .icon{
   opacity: 0;
   transition: all 0.5s ease;
}
.sidebar .logo_detalles .logo_nombre{
   color: #000;
   font-size: 20px;
   font-weight: 600;
   opacity: 0;
   transition: all 0.5s ease;
}
.sidebar.open .logo_detalles .icon,
.sidebar.open .logo_detalles .logo_nombre{
   opacity: 1;
}


.sidebar .logo_detalles #btn{
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   font-size: 22px;
   transition: all 0.4s ease;
   font-size: 23px;
   text-align: center;
   cursor: pointer;
   transition: all 0.5s ease;
}
.sidebar.open .logo_detalles #btn{
   text-align: right;
}
.sidebar i{
   color: #000;
   height: 60px;
   min-width: 50px;
   font-size: 28px;
   text-align: center;
   line-height: 60px;
}
.sidebar .nav_list{
   margin-top: 20px;
   height: 100%;
}
.sidebar li{
   position: relative;
   margin: 8px 0;
   list-style: none;
}
.sidebar li .tooltip{
   position: absolute;
   top: -20px;
   left: calc(100% + 15px);
   z-index: 3;
   background: #fff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   padding: 6px 12px;
   border-radius: 4px;
   font-size: 15px;
   font-weight: 400;
   opacity: 0;
   white-space: nowrap;
   pointer-events: none;
   transition: 0s;
}
.sidebar li:hover .tooltip{
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
   top: 50%;
   transform: translateY(-50%);
}
.sidebar.open li .tooltip{
   display: none;
}


.sidebar li a{
   display: flex;
   height: 100%;
   width: 100%;
   border-radius: 12px;
   align-items: center;
   text-decoration: none;
   transition: all 0.4s ease;
   background-color: #fff;
}

.sidebar li a:hover{
   background: #3336ff;
  
}
.sidebar li a .links_name{
   color: #000;
   font-size: 15px;
   font-weight: 400;
   white-space: nowrap;
   opacity: 0;
   pointer-events: none;
   transition: 0.4s;
}
.sidebar.open li a .links_name{
   opacity: 1;
   pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
   transition: all 0.5s ease;
   color: #fff;
}
.sidebar li i{
   height: 50px;
   line-height: 50px;
   font-size: 18px;
   border-radius: 12px;
}
.sidebar li.log_out_contenedor{
   position: fixed;
   height: 60px;
   width: 78px;
   left: 0;
   bottom: -8px;
   padding: 10px 14px;
   background: #3336ff;
   transition: all 0.5s ease;
   overflow: hidden;
}
.sidebar.open li.log_out_contenedor{
   width: 200px;
}
.sidebar li .log_out_text{
   height: 100%;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   color: #fff;
   font-weight: 500;
}

.sidebar .log_out_contenedor #log_out{
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   background: #3336ff;
   width: 100%;
   height: 60px;
   line-height: 60px;
   border-radius: 0px;
   transition: all 0.5s ease;
   color: #fff
}
.sidebar.open .log_out_contenedor #log_out{
   width: 50px;
   background: none;
}
.main_content{
   position: relative;
   min-height: 100vh;
   top: 0;
   left: 78px;
   width: calc(100% - 78px);
   transition: all 0.5s ease;
   z-index: 2;
   
   margin-bottom: 50px;
}
.sidebar.open ~ .main_content{
   left: 200px;
   width: calc(100% - 200px);
   height: 100%;
}

@media (max-width: 420px) {
   .sidebar li .tooltip{
      display: none;
   }
}


.navigation{
   padding: 20px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.user_name{
   margin-right: 50px;
   font-weight: 500;
}

.nav_links a{
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   color: #fff;
   padding: 10px 10px;
   background-color: #3336ff;
   border-radius: 10px;
}

.page_title{
   color:rgba(0, 0, 0, 0.8);
   font-size: 30px;
}

.contenedor{
   max-width: 90%;
   margin: 0 auto;
}

.container_med{
   max-width: 80%;
   margin: 0 auto;
}

.panel{
   margin-top: 30px;
}

.opciones{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
}

.opcion{
   height: 150px;
   background-color: #fff;
   border-radius: 15px;
   padding: 20px 30px;
   display: flex;
   justify-content: space-between;
   
   text-decoration: none;
   color: #000;
   font-weight: 700;
   font-size: 20px;
}

.opcion:hover{
   transition: all 0.6s ease;
   box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.1);
}

.opcion_icon{
   align-self: flex-end;
}

.opcion_icon i{
   font-size: 60px;
   color: #3336ff;
}


.tabla_info{
   width: 100%;
   margin: 0;
   background-color: #fff;
   border-collapse: collapse;
   border-radius: 0 0 10px 10px;
   overflow: hidden;
   box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.3);
}

.tabla_info th{
   text-align: left;
   padding: 12px 10px;
}

.tabla_info td{
   padding: 7px 10px;
}

#tabla_body tr:hover{
   background-color: rgba(242,242,242);
   font-weight: 600;
}


.tabla_info tr{
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tabla_info tr.tabla_head{
   /* box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.92); */
   box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
   
}

#tabla_salones td{
   width: 16.6%;
}

.tabla_info td{
   font-size: 15px;
   line-height: 2;  
}


.edit_icon{
   font-size: 25px;
   color: #8cbc00;
   text-decoration: none;
}

.delete_icon{
   font-size: 25px;
   color: red;
   text-decoration: none;
}

button.bx{
   background-color: transparent;
   border-style: none;
}

button.bx:hover{
   cursor: pointer;
}


.contenedor_busqueda{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}

.contenedor_busqueda select{
   height: 35px;
   width: 200px;
   font-size: 15px;
   padding-left: 10px;
}

.btn {
   text-decoration: none;
   /* display: block; */
   font-weight: 500;
   padding: 15px 10px;
   transition: background-color .3s ease-out ;
   text-align: center;
   border: none;
   border-radius: 7px;
   font-size: 16px;
}

.btn_small {
   text-decoration: none;
   /* display: block; */
   font-weight: 400;
   padding: 10px 10px;
   transition: background-color .3s ease-out ;
   text-align: center;
   border: none;
   border-radius: 7px;
   font-size: 16px;
}


.btn_green{
   background-color: #8cbc00;
   color: #FFF;
}
.btn_green:hover {
   background-color: #769c02;
   cursor: pointer;
}


.btn_blue{
   background-color: #3336ff;
   color: #FFF;
   font-size: 16px;
}
.btn_blue:hover {
   background-color: blue;
   cursor: pointer;
}

.btn_red{
   background-color:  #FF3300 ;
   color: #fff;
   
}


.btn_red:hover{
   background-color: #FF0000 ;
   cursor: pointer;
}





form{
   background-color: #fff;
   /* display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px; */
   padding: 30px;
   box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.3);
   margin-bottom: 30px;
}

label{
   display: block;
   margin-bottom: 12px;
   font-weight: 600;
   font-size: 15px;
}

input{
   height: 35px;
   width: 400px;
   padding: 10px;
   font-size: 15px;
}

input:focus{
   border: none;
}

input[readonly] {
   background-color: #E6E6E6;
   color: #777777;
}

select{
   height: 35px;
   width: 400px;
   font-size: 15px;
   padding-left: 10px;
}

form input, form select{
   /*display: block;*/
   margin-bottom: 20px;
} 

.no_visible{
   display: none;
}

.visible{
   display: block;
}

.titulo_form{
   margin-bottom: 25px;
}

.submit_form{
   width: 400px;
   display: flex;
   justify-content: space-between;
}

.readOnly_input{
   background-color: rgba(242,242,242);
   border-style: none;
}

.alert_notif{
   background-color: #FF0000;
   color: #fff;
   padding: 8px;
   font-weight: 500;
}

#vista_horario div{
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between; 
}

#info_grupo{
   display: flex;
   min-width: 700px;
   justify-content: space-between;
   align-items: center;
}
#info_grupo p{
   font-weight: 500;
}
#info_grupo span{
   font-weight: 400;
}

.contenedor_checkbox{
   display: flex;
   flex-direction: row;
   max-width: 600px;
}
.contenedor_checkbox input{
   height: 20px;
   margin: 0;
   padding: 0;
}

.entrada_form_aux{
   padding: 10px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   background-color: rgba(247,247,247);
   margin-bottom: 15px;
}

.time_contenedor{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.entrada_form_aux .time_contenedor input, .entrada_form_aux .time_contenedor label{
   margin-right: 20px;
}

.entrada_form_aux .time_contenedor input{
   width: 150px;
}

.success_update{
   animation-name: animacion_fondo_verde;
   animation-timing-function: ease-in-out;
   animation-duration: 1s
}
@keyframes animacion_fondo_verde {
   from {
      background-color: #AAEEAA;
   }
   to {
      background-color: transparent;
   }
}

.alerta_fila{
   background-color:   #f3ff98  ;
}

.entrada_profesor_select{
   display: flex;
   align-items: center;
   gap: 10px;
}
form select.select_profesor{
   margin-bottom: 0;
}